.body--projetos{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.apresentacao{
    padding-top: 0px;
    background: url('../../img/Ember_sky.jpg') no-repeat center;
    background-size: cover;
    min-height: 586px;
    height: auto;
}

@media screen and (min-width: 1280px){
    .apresentacao{
        background-position: top;
        background-size: 100% 100%;
        height: calc(100vh - 140px);
    }
}

.apresentacao::before{
    content: "";
    display: block;
    position: absolute;
        left: calc(50vw - (24vh / 2));
    border-radius: 50%;
    box-shadow: 
        inset 0 0 0.4em .2em hsl(0 0% 100% / 0.3),
        inset 0 0 0.8em 0 var(--neon),
        0 0 0.2em .2em hsl(0 0% 100% / 0.3),
        0 0 0.4em .2em var(--neon),
        0 0 1.2em .45em var(--neon);
    background: url('../../img/moon.jpg') no-repeat center;
    background-size: cover;
    height: 24vh;
    width: 24vh;
    max-width: 16em;
    max-height: 16em;
    z-index: 2;
    opacity: 0;
    animation: moon__movment 1.55s 0.5s forwards , moon__glow 5s 2.2s infinite;
}

.apresentacao::after{
    content: "";
    position: absolute;
    top: 420px;
    left: calc(55vw);
    height: 5px;
    width: 50px;
    background: linear-gradient(to right, hsl(0 0% 100% / 0.3), var(--neon));
    border-top-left-radius: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation: meteor 7s 2.2s infinite;
    z-index: 3;
    opacity: 0;
}

@keyframes moon__movment{
    0% {
        opacity: 0;
        top: -200px;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.65;
    }
    80% {
        opacity: 0.7;
    }
    90%{
        opacity: .8;
    }
    95%{
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        top: 180px;
    }
}

@keyframes moon__glow{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.68;
    }
    100%{
        opacity: 1;
    }
}

@keyframes meteor {
    0% {
       transform: rotate(40deg) translate(-200%, -200%);
       opacity: 1;
    }
    
    20% {
      transform: rotate(40deg) translate(100%, 100%);
      opacity: 0;
    }
    100% {
      transform: rotate(40deg) translate(100%, 100%);
      opacity: 0;
    }
  }

.main--projetos{
    background: black;
    background-size: cover;
    grid-area: main;
    overflow: hidden;
}

.footer--projetos{
    grid-area: footer;
}

.section--projetos{
    margin-top: -36px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 16px;
    padding-left: 4px;
    padding-right: 4px;
}

@media screen and (min-width: 768px){
    .section--projetos{
        margin-top: -52px;
    }
}

.h1--projetos{
    color: var(--neon);
    grid-column: span 3;
    font-size: 1.6rem;
    position: relative;
    margin-top: 0px;
    padding: 16px 10px 0px 10px;
    z-index: 4;
    animation: h1__movement 2s forwards , neon 1.5s infinite alternate;
}

.h1--projetos::after{
    content: "";
    position: absolute;
    top: 80px;
    left: calc(55vw);
    height: 5px;
    width: 50px;
    background: linear-gradient(to right, hsl(0 0% 100% / 0.3), var(--neon));
    border-top-left-radius: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation: meteor 7s 4.2s infinite;
    z-index: 3;
    opacity: 0;
}

@keyframes h1__movement {
    0% {
        opacity: 0;
        top: 110vh;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes neon {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.5em var(--neon),
        0 0 0.8em var(--neon);
    }
    20%, 24%, 55% {       
      text-shadow: none;
      opacity: 0.92;
    }
}

.h2__container{
    animation: apear 3s forwards;
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

@keyframes apear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.h2--projetos{
    background: transparent;
    border: var(--neon) 0.125em solid;
    border-radius: 0.4em;
    box-shadow: inset 0 0 0.5em 0 var(--neon), 0 0 0.5em 0 var(--neon);
    color: var(--neon);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 0px auto 30px auto;
    padding: 0.4em 0.6em;
    position: relative;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.h2--projetos::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}
  
.h2--projetos:hover,
.h2--projetos:focus {
    background-color: var(--neon);
    color: var(--projeto-bg);
    text-shadow: none;
    box-shadow: inset 0 0 1.2em 0 var(--neon), 0 0 1.2em 0 var(--neon);
    transition: 0.3s;
}
  
.h2--projetos:hover::before,
.h2--projetos:focus::before {
    opacity: 1;
}

@media screen and (min-width: 768px){
	
    .h1--projetos{
        grid-column: span 3;
        font-size: 2rem;
    }

	.h2--projetos{
        font-size: 1.5rem;
    }
}
