.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    margin-top: 32px;
    width: 94%;
}

.cartao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cartao-cor);
    padding-bottom: 16px;
    border-radius: 25px;
    max-width: 340px;
    margin-inline: auto;
    box-shadow: -1px 2px 0.4em 0 #666;
}

.h2--cartao{
    grid-column: span 2;
    border-bottom: 6px solid var(--border-cor);
    font-size: 1.6rem;
    padding: 8px;
}

.built{
    grid-column: span 2;
    margin-top: 4px;
    font-style: italic;
    font-size: 1rem;
}

.legenda{
    grid-column: span 2;
    font-size: 1rem;
}

.cartao__imagem{
    grid-row: span 2;
    box-shadow: inset 0px 0px 0.4em 0 #666;
    margin-top: 10px;
    margin-left: 8px;
    min-height: 250px;
}

.cartao__imagem--form{
    background: url(../../img/contato.png) no-repeat center;
    background-size: contain;
}

.cartao__imagem--nigriflix{
    background: url(../../img/nigriflix.png) no-repeat center;
    background-size: contain;
}

.h3--destaques{
    grid-column: 2;
    margin-top: 10px;
    font-size: 1.2rem;
    align-self: flex-end;
}

.destaques{
    display: flex;
    flex-direction: column;
    grid-column: 2;
}

.lista__item{
	font-size: 1rem;
	margin: 10px 0px 0px 10px;
	padding-left: 20px;
}

.lista__item:before {
	content:"\2713  ";
	margin-left: -1em;
    color: var(--bold-cor);
    font-weight: bold;
}

.cartao__botao__container{
    margin-top: 10px;
    display: flex;
    grid-column: span 2;
    width: 80%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

.cartao__botao{
    cursor: pointer;
    display: block;
    width: 98px;
    text-align: center;
    padding:0.4em;
    border:none;
    border-bottom: 0.2rem solid var(--border-cor);
    background-color: var(--cartao__botao-cor);
    color: var(--border-cor);
    font-size: 0.9rem;
    box-shadow: -1px 2px 0.25em 0 #666;
    text-decoration: none;
    font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.cartao__botao:hover{
    color: var(--cartao-cor);
    background-color: var(--border-cor);
}

.close{
    position: sticky;
        bottom: 8px;
    text-align: right;
    margin: 0px -1.98vw -32px auto;
    align-self: flex-end;
    width: 100%;
}

.close > i{
    background: var(--cartao-cor);
    cursor: pointer;
    color: var(--border-cor);
    font-size: 1.5rem;
    border: 0.125em solid currentColor;
    padding: 0.1em 0.2em;
    border-radius: 0.4em;
    box-shadow: -1px 2px 0.25em 0 #666;
}

.close > i:hover{
    color: var(--neon);
    box-shadow: inset 0 0 0.25em 0 var(--neon) , 0 0 0.25em 0 var(--neon);
    transition: 0.2s;
}

.off{
    display: none;
}
