.body--projetos{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.main--projetos{
    grid-area: main;
    overflow: hidden;
    padding-bottom: 0px;
}

.footer--projetos{
    grid-area: footer;
}

.h1--projetos{
    color: var(--neon);
    grid-column: span 3;
    font-size: 1.6rem;
    position: relative;
    margin-top: 0px;
    padding: 16px 10px 0px 10px;
    z-index: 4;
    animation: h1__movement 2s forwards , moon__glow 5s 2.2s infinite;
    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.5em var(--neon),
        0 0 0.8em var(--neon);
}

.h1--projetos::after{
    content: "";
    position: absolute;
    top: 80px;
    left: calc(55vw);
    height: 5px;
    width: 50px;
    background: linear-gradient(to right, hsl(0 0% 100% / 0.3), var(--neon));
    border-top-left-radius: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    animation: meteor 7s 4.2s infinite;
    z-index: 3;
    opacity: 0;
}

@media screen and (min-width: 768px){
	
    .h1--projetos{
        grid-column: span 3;
        font-size: 2rem;
    }
}
