header{
	background: var(--header-bg-cor);
	border-bottom: 10px solid var(--border-cor);
	display: flex;
	grid-area: header;
	height: 80px;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	width: 100vw;
	z-index: 5;
}

.assinatura{
	align-self: center;
	border: 5px solid var(--header-assinatura_border-cor);
	border-radius: 25px;
	color: var(--header-assinatura-cor);
	font-family: 'Montez', cursive;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 8px;
	text-align: center;
	margin-left: 1vw;
	min-width: 150px;
}
