footer {
	background-color: var(--footer-bg-cor);
	background-size: 100%;
	border-top: 10px solid #AD5050;
	grid-area: footer;
	padding-bottom: 15px;
	transition: 0.5s;
}

.footer__contato{
	color: var(--footer-texto-cor);
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
}

.footer__link{
	color: var(--footer-texto-cor);
	font-weight: normal;
	position: relative;
	text-decoration: none;
}

.footer__link:hover , .footer__link:focus {
	cursor: pointer;
}

/*<animation effect> -*/
.footer__link::after {
	background-color: var(--footer-texto-cor);
	content: '';
	height: 0.15em;
	position: absolute;
  		bottom: 0;
  		left: 0;
	transform: scale(0);
	transition: opacity 300ms, transform 300ms;
	width: 100%;
	}
	
	.footer__link:hover::after,	.footer__link:focus::after {
	transform: scale(1);
	transform-origin: center;
	}
/*</animation effect>*/


.footer__icone__grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	margin-top: 20px;
}

.footer__icone__container{
	grid-column-start: 3;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 150px;
	justify-self: flex-end;
	margin-right: 5%;
}

.footer__assinatura{
	color: var(--footer-assinatura-cor);
	font-family: 'Montez', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	grid-row-start: 1;
	grid-column-start: 2;
	grid-column-end: 2;
	justify-self: center;
}

.footer__icone{
	color: var(--footer-icone-cor);
	font-size: 2rem;
	text-decoration: none;
	transition: 0.3s ease-in-out;
	grid-column-start: 3;
}

.footer__icone:hover , .footer__icone:focus {
	color: var(--footer-icone_hover-cor);
}

@media screen and (max-width: 680px) {

	.footer__assinatura{
		grid-column-start: 1;
		grid-column-end: 1;
		justify-self: flex-start;
		margin-left: 5%;
	}
}
