body{
	background: var(--branco);
	display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

main{
	transition: 0.5s;
	margin-top: 90px;
	padding-bottom: 48px;
	grid-area: main;
}

section{
	margin: 0 auto 0 auto;
	text-align: left;
	width: 85%;
}

p{
	font-size: 1.2rem;
	margin: 15px 10px 0px 10px;
}

em {
	color: var(--bold-cor);
	font-weight: bold;
}

.title{
	color: var(--titulo-cor);
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

.h1--quem-sou-eu{
	margin: 20px 0 30px 0;
}

.h2--title{
	border-top: 10px solid var(--border-cor);
	margin: 40px 0 30px 0;
	padding-top: 20px;
}

.h3--experiencia {
	color: var(--titulo-cor);
	font-size: 1.5rem;
	font-weight: bold;	
	margin: 30px 10px 0 10px;
	text-align: left;
}

.fade{
	opacity: 0.4;
	transition: 0.5s;
}

@media screen and (max-width: 581px){
	section {
		width: 96%;
	}
}
