.banner{
	background: url('../../img/banner.jpg') no-repeat center;
	background-size: 100% 100%;
	background-position: bottom cover;
	border-bottom: 10px solid var(--border-cor);
	height: 430px;
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.banner__texto{
	color: var(--branco);
	font-family: 'Montserrat', sans-serif;
	font-size: 2.6rem;
	font-weight: bold;
	width: 50%;
	margin-top: 20px;
}

.digitar {
	font-weight: bold;
	color: var(--banner_animation-cor);
}

.cursor {
	font-size: 1.2em;
	font-weight: bold;
	color: var(--banner_cursor-cor);
    animation: blink 0.7s infinite linear;
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

@media screen and (max-width: 870px) {
	
	.banner{
		height: 340px;
	}

	.banner__texto{
		font-size: 2.125rem;
	}
}

@media screen and (max-width: 490px) {
	
	.banner{
		height: 200px;
	}

	.banner__texto{
		font-size: 2rem;
	}

	.digitar{
		font-weight: bold;
		color: var(--branco);
	}	
}