.h3--experiencia {
	color: var(--titulo-cor);
	font-size: 1.5rem;
	font-weight: bold;	
	margin: 30px 10px 0 -5px;
	text-align: left;
}

.experiencia{
	margin-left: 15px;
}

.lista__experiencia{
	font-size: 1.2rem;
	margin: 20px 10px 0px 0px;
	padding-left: 35px;
}

.lista__experiencia:before {
	margin-left: -1em;
	content:"\2713  ";
}
