.quem-sou-eu__container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
}

.portrait{
	background: url('../../img/portrait.jpg') no-repeat;
	flex-shrink: 0;
	background-size: 110%;
	background-position: top 0px left 0px;
	border-radius: 80px;
	box-shadow: -6px 6px 8px 2px #333;
	height: 280px;
	width: 280px ;
	margin-bottom: 30px;
}

@media screen and (min-width: 800px) {

	.quem-sou-eu__container{
		display: grid;
		grid-template-columns: auto 55%;;
		column-gap: 10px;
	}

	h1{
		grid-column: span 2;
	}

	.portrait{
		margin-bottom: 0px;
	}
}
